<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button #toggleMenuBtn style="display: none"></ion-menu-button>
      <ion-button (click)="toggleMenu(toggleMenuBtn)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="lexa">
        à propos
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padding">
    <ng-container>
      <h1> Politique de confidentialité du Républigram </h1>

      <p> Le Républigram, l'une de nos principales priorités est la confidentialité de nos visiteurs. Cette
        Intimité
        Le document de politique contient les types d'informations qui sont collectées et enregistrées par Le
        Républigram
        et comment nous utilisons
        ça. </p>

      <p> Si vous avez des questions supplémentaires ou avez besoin de plus d'informations sur notre politique de
        confidentialité, n'hésitez pas à contacter
        nous. </p>

      <p> Cette politique de confidentialité s'applique uniquement à nos activités en ligne et est valable pour les
        visiteurs de notre site Web en ce qui concerne
        à
        les informations qu'ils ont partagées et / ou collectées dans Le Républigram. </p>

      <h2> Consentement </h2>

      <p> En utilisant notre application, vous consentez par la présente à notre politique de confidentialité et
        acceptez
        ses conditions. </p>

      <h2> Informations que nous collectons </h2>

      <p> Les informations personnelles que l'on vous demande de fournir et les raisons pour lesquelles vous êtes invité
        à
        les fournir seront
        clairement indiqué au moment où nous vous demandons de fournir vos informations personnelles. </p>
      <p> Si vous nous contactez directement, nous pouvons recevoir des informations supplémentaires à votre sujet
        telles
        que votre nom, votre adresse e-mail,
        téléphone
        numéro, le contenu du message et / ou des pièces jointes que vous pouvez nous envoyer, et toute autre
        information
        que vous pouvez choisir
        à
        fournir. </p>
      <p> Lorsque vous vous inscrivez pour un compte, nous pouvons vous demander vos coordonnées, y compris des éléments
        tels que le nom, la société
        nom, adresse, adresse e-mail et numéro de téléphone. </p>

      <h2> Comment nous utilisons vos informations </h2>

      <p> Nous utilisons les informations que nous collectons de différentes manières, notamment pour: </p>

      <ul>
        <li> Fournir, exploiter et maintenir notre application</li>
        <li> Améliorez, personnalisez et développez notre application</li>
        <li> Comprendre et analyser comment vous utilisez notre application</li>
        <li> Développer de nouveaux produits, services, fonctionnalités et fonctionnalités</li>
        <li> Communiquez avec vous, directement ou via l'un de nos partenaires, y compris pour le service client, pour
          fournir
          vous avec des mises à jour et d'autres informations relatives à l'application, et à des fins de marketing et
          de
          promotion
        </li>
        <li> Vous envoyer des e-mails</li>
        <li> Identifiez et prévenez la fraude</li>
      </ul>


      <h2> Cookies et balises Web </h2>

      <p> Comme toute autre application, Le Républigram utilise des «cookies». Ces cookies sont utilisés pour stocker
        des
        informations, notamment
        les préférences des visiteurs et les pages de l'application auxquelles le visiteur a accédé ou visité. Les
        informations sont utilisées
        à
        optimiser l'expérience des utilisateurs en personnalisant le contenu de notre application en fonction du type de
        navigateur des visiteurs et / ou d'autres
        informations. </p>

      <p> Pour plus d'informations générales sur les cookies, veuillez lire <a
        href="https://www.cookieconsent.com/what-are-cookies/">cet article</a>. </p>


      <h2> Politiques de confidentialité des partenaires publicitaires </h2>

      <p> Vous pouvez consulter cette liste pour trouver la politique de confidentialité de chacun des partenaires
        publicitaires de Le Républigram. </p>

      <p> Les serveurs publicitaires ou réseaux publicitaires tiers utilisent des technologies telles que les cookies,
        JavaScript ou les balises Web utilisées dans
        leurs publicités et liens respectifs qui apparaissent sur Le Républigram, qui sont envoyés directement aux
        utilisateurs
        navigateur.
        Ils reçoivent automatiquement votre adresse IP lorsque cela se produit. Ces technologies sont utilisées pour
        mesurer la
        l'efficacité de leurs campagnes publicitaires et / ou pour personnaliser le contenu publicitaire que vous voyez
        sur
        applications
        que vous visitez. </p>

      <p> Notez que Le Républigram n'a aucun accès ou contrôle sur ces cookies qui sont utilisés par des tiers
        annonceurs. </p>

      <h2> Politiques de confidentialité des tiers </h2>

      <p> La politique de confidentialité de Le Républigram ne s'applique pas aux autres annonceurs ou sites Web. Ainsi,
        nous vous conseillons de
        consultez les politiques de confidentialité respectives de ces serveurs publicitaires tiers pour des
        informations
        plus détaillées. Cela pourrait
        inclure leurs pratiques et des instructions sur la façon de refuser certaines options. </p>

      <h2> Droits de confidentialité de l'ACCP (ne pas vendre mes informations personnelles) </h2>

      <p> En vertu de la CCPA, entre autres droits, les consommateurs californiens ont le droit de: </p>
      <p> Demander qu'une entreprise qui collecte les données personnelles d'un consommateur divulgue les catégories et
        les éléments spécifiques
        les données personnelles qu'une entreprise a collectées sur les consommateurs. </p>
      <p> Demander à une entreprise de supprimer toutes les données personnelles sur le consommateur qu'elle a
        collectées. </p>
      <p> Demander qu'une entreprise qui vend les données personnelles d'un consommateur ne vende pas les données
        personnelles du consommateur. </p>
      <p> Si vous faites une demande, nous avons un mois pour vous répondre. Si vous souhaitez exercer l'un de ces
        droits,
        veuillez nous contacter. </p>

      <h2> Droits de protection des données RGPD </h2>

      <p> Nous souhaitons nous assurer que vous connaissez parfaitement tous vos droits en matière de protection des
        données. Chaque utilisateur a droit à
        la
        suivant: </p>
      <p> Le droit d'accès - Vous avez le droit de demander des copies de vos données personnelles. Nous pouvons vous
        facturer une somme modique
        pour
        ce service. </p>
      <p> Le droit de rectification - Vous avez le droit de demander que nous corrigions toute information que vous
        pensez
        être
        inexacte. Vous avez également le droit de nous demander de compléter les informations que vous estimez
        incomplètes. </p>
      <p> Le droit d'effacement - Vous avez le droit de demander que nous effacions vos données personnelles, sous
        certaines
        conditions. </p>
      <p> Le droit de restreindre le traitement - Vous avez le droit de demander que nous restreignions le traitement de
        vos données personnelles
        données, sous certaines conditions. </p>
      <p> Le droit de vous opposer au traitement - Vous avez le droit de vous opposer à notre traitement de vos données
        personnelles, sous
        certaines conditions. </p>
      <p> Le droit à la portabilité des données - Vous avez le droit de demander que nous transférions les données que
        nous avons collectées à
        une autre organisation, ou directement à vous, sous certaines conditions. </p>
      <p> Si vous faites une demande, nous avons un mois pour vous répondre. Si vous souhaitez exercer l'un de ces
        droits,
        veuillez nous contacter. </p>

      <h2> Informations sur les enfants </h2>

      <p> Une autre partie de notre priorité consiste à protéger les enfants lorsqu'ils utilisent Internet. Nous
        encourageons les parents et
        tuteurs pour observer, participer et / ou surveiller et guider leur activité en ligne. </p>

      <p> Le Républigram ne collecte sciemment aucune information personnelle identifiable d'enfants de moins de
        13.
        Si vous pensez que votre enfant a fourni ce type d'informations sur notre application, nous vous encourageons
        vivement à
        contact
        nous immédiatement et nous ferons de notre mieux pour supprimer rapidement ces informations de nos
        archives. </p>

    </ng-container>
    <br>
    <br>
    <br>
    <p>
      Développé par <a href="https://twitter.com/TheAngularGuy">@TheAngularGuy</a>
    </p>
  </div>
</ion-content>

<!--
https://www.privacypolicygenerator.info/live.php?token=8Ge24fPJIdZAeWiSCJlmOHkRoZkTCbMT
-->
