<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="lexa">
        le texte
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="main">
      <br>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Le verbe</ion-label>
          <ion-input [(ngModel)]="h1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Le complément d'objet direct</ion-label>
          <ion-input [(ngModel)]="h2"></ion-input>
        </ion-item>

        <div style="min-height: 25px"></div>
        <ion-item>
          <ion-label>Couleur du texte en noir</ion-label>
          <ion-toggle [(ngModel)]="black"></ion-toggle>
        </ion-item>
      </ion-list>

      <br>
      <br>
      <ion-button expand="block" (click)="goToResult()" [disabled]="!h1 || !h2">
        En marche !
      </ion-button>
    </div>



    <app-foot-text></app-foot-text>
  </div>

</ion-content>
