
.container {
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .add {
    all: unset;
    width: calc(100vw - 16%);
    height: calc(100vw - 16%);
    max-height: 465px;
    max-width: 465px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 10px dashed rgba(0, 0, 0, .2) !important;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    span {
      text-align: center;
      margin: 0;
      opacity: .6;
    }

    ion-icon {
      opacity: .3;
      font-size: 112px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    .add {
      background: rgba(255, 255, 255, .8);
    }
  }
}
