.wrapper {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.left, .right {
  width: 100%;
  padding: 1rem;
}


@media only screen and (max-width: 700px) {
  .wrapper {
    display: block;
  }
}
