body {
  font-family: sans-serif;
}

.title {
  width: 100%;
  font-size: 48px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.wrapper h1, .wrapper h2 {
  text-align: start;
}

.sommaire {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  display: none;
}

.left, .right {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}


@media only screen and (max-width: 852px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .sommaire {
    display: block;
  }
}
