/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./font";

.aiglon {
  font-family: "Aiglon Regular", sans-serif;
  text-transform: uppercase;
}

.lexa {
  font-family: "LexendMegaRegular", "Aiglon Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.5px;
}

.elyse {
  font-family: "Elyse", "Comic Sans MS", sans-serif;
  text-transform: capitalize;
}

.beauties {
  font-family: "LaBeauties", "Elyse", "Comic Sans MS", sans-serif;
  text-transform: capitalize;
}


// Ajustement theme
.header-ios ion-toolbar ion-title {
  font-weight: normal !important;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

.header-md::after {
  opacity: 0;
}

ion-button {
  text-transform: uppercase;
  font-family: "LexendMegaRegular", "Aiglon Regular", sans-serif;
}


// style
.container {
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .main {
    width: 100%;
  }

  .footer-text {
    font-family: sans-serif;
    font-style: italic;
    font-size: .8rem;
    opacity: .6;
    padding: .5rem;
    text-align: center;
    color: black;

    .lexa {
      font-style: normal;
    }
  }
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    .container {
      .footer-text {
        color: white;
      }
    }
  }
}
